{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block content %}

{% if not user.is_authenticated %}
<section>
  <div class = "welcome">
    <h2>Welcome to Garage Keeper!</h2>
    <h2>It looks like you aren't logged in. </h2>
    <h2>Sign up or Login</h2>
  </div>
  <form action="{% url 'home' %}" method="post" class="login">
    <h1>Login</h1>
    {% csrf_token %} {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}" />
    <button type="submit" class="btn submit">Login</button>
  </form>
</section>

{% else %}

<section>

  <div class = "welcome">
    <h2>Welcome to Garage Keeper!</h2>
    <h2>It looks like you're already signed in!</h2>
    <h2>Head over to "Add a Car" to start building your garage.</h2>
  </div>
</section>
{% endif %}

{% endblock %}

